<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863977864330-20p5cv2h6gloalknphh18807j2l8k5gq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863977864330-20p5cv2h6gloalknphh18807j2l8k5gq</string>
	<key>API_KEY</key>
	<string>AIzaSyB4FvRGx93nCCR0AOTapkg5cuiSIlT20tM</string>
	<key>GCM_SENDER_ID</key>
	<string>863977864330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shunhuaiyao.authdemo</string>
	<key>PROJECT_ID</key>
	<string>authdemo-f8011</string>
	<key>STORAGE_BUCKET</key>
	<string>authdemo-f8011.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863977864330:ios:cbdd6360a45970e7</string>
	<key>DATABASE_URL</key>
	<string>https://authdemo-f8011.firebaseio.com</string>
</dict>
</plist>